---

- name: Git - pascalguttmann/dotfiles
  hosts: localhost
  gather_facts: no
  vars:
    repository: git@github.com:pascalguttmann/dotfiles.git
  tasks:

    - name: Check if repository exists
      stat:
        path: /home/pagu/.git
      register: stat_result

    - name: Initialize repository
      command: "{{ item }}"
      args:
        chdir: /home/pagu/
      loop:
        - "git init"
        - "git remote add origin {{ repository }}"
      when: not stat_result.stat.exists

    - name: Update repository
      git:
        repo: "{{ repository }}"
        dest: /home/pagu/
        version: main
        update: yes

