---

- name: Git - pascalguttmann/dotfiles
  hosts: localhost
  gather_facts: no
  vars:
    repository: git@github.com:pascalguttmann/dotfiles.git
  tasks:

    - name: Check if repository exists
      stat:
        path: /home/pagu/.git
      register: stat_result

    - name: Initialize repository
      command: "{{ item }}"
      args:
        chdir: /home/pagu/
      loop:
        - "git init"
        - "git remote add origin {{ repository }}"
      when: not stat_result.stat.exists

    - name: Update repository
      git:
        repo: "{{ repository }}"
        dest: /home/pagu/
        version: main
        update: yes

- name: Install Local Packages Applications
  hosts: localhost
  gather_facts: no
  tasks:

    - name: Install printer driver
      become: yes
      dnf:
        name: /home/pagu/Documents/260131_kyocera_printer_driver/Fedora/EU/kyodialog_x86_64/kyodialog-9.4-0.x86_64.rpm
        state: present
        disable_gpg_check: yes
