#!/bin/bash

# Change to the next power mode
/usr/bin/asusctl profile next

# Get the active profile
active_profile=$(/usr/bin/asusctl profile get | grep "Active profile: " | sed 's/.* \(.*\)$/\1/')

# Show notification of the active profile
notify-send "Power Mode" "$active_profile"
